@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  color: #F2EDE7;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: clamp(2.25rem, 8vw, 4rem);
  font-weight: 400;
}

.heading-secondary {
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 400;
}

.heading-tertiary {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  font-weight: 400;
}

.paragraph {
  font-size: clamp(1rem, 3vw, 1.1rem);
  font-weight: 300;
  line-height: 2;
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}
.paragraph--white {
  color: #fff;
}

.u-center-text {
  text-align: center !important;
  margin: 0 auto;
}

.u-margin-top-0 {
  margin-top: 0;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-left-medium {
  margin-left: 3.2rem !important;
}

.u-padding-top-small {
  padding-top: 2rem !important;
}

.u-padding-top-medium {
  padding-top: 4rem !important;
}

.u-padding-left-small {
  padding-left: 1.3rem !important;
}

.u-padding-left-medium {
  padding-left: 3.2rem !important;
}

.u-padding-bottom-small {
  padding-bottom: 2rem !important;
}

.u-padding-bottom-medium {
  padding-bottom: 4rem !important;
}

.u-padding-bottom-large {
  padding-bottom: 8rem !important;
}

.u-wrapper {
  max-width: 1120px;
  margin: 0 auto;
}
.u-wrapper--small {
  max-width: 700px;
}

.u-background {
  background-color: #F2EDE7;
}
.u-background--color-primary-400 {
  background-color: #ECDFD0;
}
.u-background--color-primary-500 {
  background-color: #E0CEBA;
}
.u-background--color-primary-600 {
  background-color: #D5BDA3;
}
.u-background--color-primary-700 {
  background-color: #A69384;
}

.u-responzive-img__wrapp {
  background-color: #fff;
  padding: 1.25rem;
  flex: 1;
  display: grid;
  place-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.u-responzive-img__img {
  width: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.btn {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  color: #2D332E;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.4;
  font-weight: 500;
  padding: 8px 30px;
  border: 1px solid #2D332E;
  border-radius: 5px;
}
.btn:hover {
  color: #fff;
  background-color: #A69384;
  border: 1px solid #A69384;
}
.btn--light {
  color: #fff;
  background-color: #A69384;
  border: 1px solid #fff;
}
.btn--light:hover {
  color: #A69384;
  background-color: #fff;
  border: 1px solid #fff;
}

.card-action {
  background-color: #FAF8F5;
  color: #2D332E;
  padding: 20px;
}
.card-action:hover {
  transform: scale(1.1);
}
.card-action__link-grid {
  display: grid;
  palce-content: center;
}
.card-action__img {
  place-content: center;
  display: block;
  width: 100%;
}
.card-action__p {
  text-align: center;
  margin-bottom: 0;
}
.card-action__link {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  color: #2D332E;
  text-align: center;
  margin: 0 auto;
}
.card-action__link:hover {
  border-bottom: 1px solid #2D332E;
}

.columns {
  -moz-columns: 22rem;
       columns: 22rem;
  gap: 5rem;
}

.footer {
  color: #2D332E;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}
.footer__conteiner {
  padding: clamp(1.25rem, 8vw, 2.5rem);
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}
@media screen and (min-width: 700px) {
  .footer__conteiner {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .footer__conteiner {
    grid-template-columns: 2fr 3fr 3fr 1fr;
  }
}
@media screen and (min-width: 1400px) {
  .footer__conteiner {
    grid-template-columns: 200px 16rem 16rem 18rem 10rem;
    text-align: start;
  }
}
@media screen and (min-width: 700px) {
  .footer__fig {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1400px) {
  .footer__fig {
    grid-column: 1/2;
  }
}
.footer__menu-item {
  padding: 0 10px 16px;
}
.footer__link {
  color: #2D332E;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
}
.footer__link:hover, .footer__link:active {
  border-bottom: 1px solid #2D332E;
  font-weight: 700;
}
.footer__submenu {
  margin: 0;
  padding-top: 15px;
  padding-left: 0;
  list-style: none;
}
.footer__submenu--last {
  padding-top: 0;
}
.footer__submenu-item {
  padding: 5px 10px;
}
.footer__submenu-link {
  color: #2D332E;
  padding: 5px 0;
}
.footer__submenu-link:hover {
  border-bottom: 1px solid #2D332E;
  font-weight: 700;
}

.section-copy {
  padding: clamp(1.25rem, 8vw, 2.5rem);
}
.section-copy__p {
  color: #fff;
}

.header {
  background-color: #ECDFD0;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  box-shadow: 3px 0 30px rgba(0, 0, 0, 0.1);
}
.header__wrapp {
  color: #2D332E;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  max-width: 1600px;
}

.logo {
  width: 18vw;
  min-width: 100px;
  max-width: 125px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-img {
  display: grid;
  grid-template-columns: 333px;
  gap: 1.8rem;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 750px) {
  .grid-img {
    grid-template-columns: 328px 328px;
  }
}
@media screen and (min-width: 1100px) {
  .grid-img {
    grid-template-columns: 328px 328px 328px;
  }
}

.mobile-nav {
  position: relative;
}
.mobile-nav__icon {
  align-self: first baseline;
  width: 40px;
  z-index: 2000;
  padding-top: 10px;
}
.mobile-nav__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3000;
  opacity: 0;
  width: 0;
}
.mobile-nav__checkbox {
  display: none;
}
.mobile-nav__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ECDFD0;
  background-size: 100%;
  z-index: 2000;
  opacity: 0;
  width: 0;
}
.mobile-nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.mobile-nav__item {
  padding: 0.5rem;
}
.mobile-nav__link {
  color: #2D332E;
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #2D332E;
}
.mobile-nav__link:hover, .mobile-nav__link:active {
  font-weight: 700;
  border-bottom: 1px solid #000;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__nav {
  opacity: 1;
  width: 100%;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__icon-close {
  opacity: 1;
  width: 100%;
}
@media screen and (min-width: 1140px) {
  .mobile-nav {
    display: none;
  }
}

.navigation {
  display: none;
  font-family: "Cormorant Garamond", serif;
}
@media screen and (min-width: 1140px) {
  .navigation {
    display: block;
  }
}
.navigation__list {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navigation__item {
  margin: 0 10px;
  padding: 5px;
  position: relative;
}
.navigation__item:hover, .navigation__item:active {
  font-weight: 600;
}
.navigation__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #454E47;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.navigation__item.active::before { /* Styl pro aktivní stav */
  transform: scaleX(1);
}
.navigation__item:hover::before {
  transform: scaleX(1);
}
.navigation__link {
  color: #2D332E;
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px;
}
.navigation__submenu {
  list-style: none;
  position: absolute;
  background-color: #ECDFD0;
  top: 100%;
  left: 0;
  padding: 1.25rem 0;
  margin: 0;
  margin-left: -5rem;
  width: 18rem;
  display: none;
}
.navigation__submenu--visible {
  display: block;
}
.navigation__submenu-item {
  padding: 10px 20px;
}
.navigation__submenu-link {
  color: #2D332E;
  font-size: 1.2rem;
  padding: 10px 5px 10px 5px;
  font-weight: 500;
}
.navigation__submenu-link:hover {
  border-bottom: 1px solid #2D332E;
  font-weight: 600;
}

.section-hero {
  color: #454E47;
  padding-top: 6rem;
  height: 100vh;
  min-height: 700px;
  max-height: 800px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 750px) {
  .section-hero {
    flex-direction: row;
    height: 100vw;
  }
}
.section-hero__content {
  flex: 2;
  padding: 1.25rem;
  padding-top: 0;
}
@media screen and (min-width: 750px) {
  .section-hero__content {
    height: 50vh;
    padding: 8rem 1.25rem 4rem 1.25rem;
  }
}
.section-hero__images {
  flex: 3;
  position: relative;
}
@media screen and (min-width: 750px) {
  .section-hero__images {
    height: 50vh;
    padding-top: 29rem;
  }
}
@media screen and (min-width: 900px) {
  .section-hero__images {
    padding-top: 0;
  }
}
.section-hero__img-wrapp {
  background-size: cover;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-repeat: no-repeat;
}
.section-hero__img-wrapp--1 {
  height: 153px;
  width: 170px;
  background-image: url(/images/placeholder-hero-1.jpg);
  position: absolute;
  bottom: 205px;
  right: 236px;
}
@media screen and (min-width: 900px) {
  .section-hero__img-wrapp--1 {
    height: 157px;
    width: 175px;
    position: absolute;
    bottom: 94px;
    right: 370px;
  }
  .section-hero__img-wrapp--1:hover {
    transform: scale(2);
    z-index: 1000;
  }
}
.section-hero__img-wrapp--2 {
  height: 180px;
  width: 200px;
  margin-left: 45px;
  background-image: url(/images/placeholder-hero-2.jpg);
  position: absolute;
  bottom: 0px;
  right: 228px;
}
@media screen and (min-width: 900px) {
  .section-hero__img-wrapp--2 {
    height: 234px;
    width: 260px;
    position: absolute;
    bottom: -185px;
    right: 347px;
  }
  .section-hero__img-wrapp--2:hover {
    transform: scale(1.2);
    z-index: 1000;
  }
}
.section-hero__img-wrapp--3 {
  height: 288px;
  width: 320px;
  background-image: url(/images/placeholder-hero-3.jpg);
  position: absolute;
  right: -56px;
  bottom: 50px;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .section-hero__img-wrapp--3 {
    height: 406px;
    width: 450px;
    position: absolute;
    right: -50px;
    bottom: -130px;
  }
  .section-hero__img-wrapp--3:hover {
    transform: scale(1.2);
    z-index: 1000;
  }
}

.section-actions {
  padding: clamp(1.25rem, 8vw, 2.5rem);
}
.section-actions__title {
  text-align: center;
  color: #2D332E;
}

.section-for {
  padding: clamp(1.25rem, 8vw, 2.5rem);
  color: #2D332E;
}
.section-for__title {
  text-align: center;
  color: #2D332E;
}

.section-institutions {
  padding: clamp(1.25rem, 8vw, 2.5rem);
  display: flex;
  flex-direction: column;
}
.section-institutions__title {
  color: #fff;
}
.section-institutions__fig {
  max-width: 450px;
  max-height: 632px;
  margin: 0 auto;
  margin-bottom: -11.875rem;
  flex: 1;
}
@media screen and (min-width: 1000px) {
  .section-institutions__fig {
    margin-bottom: 0;
    margin-top: 11rem;
  }
}
@media screen and (min-width: 1000px) {
  .section-institutions__img {
    width: 410px;
  }
}
@media screen and (min-width: 1000px) {
  .section-institutions {
    flex-direction: row;
    gap: 5rem;
    margin-bottom: -11rem;
  }
}

.section-gift {
  padding: clamp(1.25rem, 8vw, 2.5rem);
  padding-top: 11.875rem;
  color: #2D332E;
}
@media screen and (min-width: 1000px) {
  .section-gift {
    padding-top: 2rem;
  }
}
.section-gift__title {
  color: #2D332E;
}
@media screen and (min-width: 1000px) {
  .section-gift__content {
    max-width: 40vw;
  }
}
@media screen and (min-width: 1300px) {
  .section-gift__content {
    max-width: 30vw;
  }
}
@media screen and (min-width: 1500px) {
  .section-gift__content {
    max-width: 25vw;
  }
}
.section-gift__qr {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .section-gift__qr {
    flex-direction: row;
    gap: 5rem;
  }
}
.section-gift__qr-col-1-of-2 {
  flex: 1;
  text-align: center;
}
.section-gift__qr-col-2-of-2 {
  flex: 1;
}
.section-gift__qr-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: clamp(2rem, 8vw, 8rem);
}
.section-gift__num-account {
  font-weight: 400;
  font-size: 2rem;
}
.section-gift__fig {
  margin-bottom: 2rem;
}
@media screen and (min-width: 900px) {
  .section-gift__fig {
    margin-bottom: 0;
  }
}

.section-o-nas {
  margin: 0 auto;
  padding: 1.25rem;
  padding-top: 6rem;
}
.section-o-nas__flex {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (min-width: 750px) {
  .section-o-nas__flex {
    flex-direction: row;
  }
}
@media screen and (min-width: 750px) {
  .section-o-nas__fig {
    margin-bottom: -21rem;
  }
}
.section-o-nas__img {
  border: 20px solid #fff;
}
.section-o-nas__content {
  color: #2D332E;
}

.section-o-nas-2 {
  padding: 1.25rem;
  color: #2D332E;
}
.section-o-nas-2__flex {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (min-width: 750px) {
  .section-o-nas-2__flex {
    flex-direction: row;
  }
}
.section-o-nas-2__empty {
  flex: 1;
}
.section-o-nas-2__first-content {
  flex: 1;
}/*# sourceMappingURL=style.css.map */