@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


// HERO

.section-hero {
    color: v.$color-grey-700;
    padding-top: 6rem;
    height: 100vh;
    min-height: 700px;
    max-height: 800px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: v.$spacer-double;


    &__content {
        flex: 2;
        padding: v.$spacer;
        padding-top: 0;

        @include mx.media-min(750px) {
            height: 50vh;
            padding: 8rem v.$spacer 4rem v.$spacer;
        }
    }

    &__images {
        flex: 3;
        position: relative;


        @include mx.media-min(750px) {
            height: 50vh;
            padding-top: 29rem;
        }

        @include mx.media-min(900px) {
            padding-top: 0;
        }
    }

    &__img-wrapp {
        background-size: cover;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        background-repeat: no-repeat;

        &--1 {
            height: 153px;         // 90% šířky (šířka/100*88)
            width: 170px;
            background-image: url(/images/IMG_20230517_165906.jpg);
            position: absolute;
            bottom: 205px;
            right: 236px;

            @include mx.media-min(900px) {
                height: 157px;
                width: 175px;
                position: absolute;
                bottom: 94px;
                right: 370px;

                &:hover {
                    transform: scale(2);
                    z-index: 1000;
                }
            }
        }

        &--2 {
            height: 180px;
            width: 200px;
            margin-left: 45px;
            background-image: url(/images/IMG_20230517_165920.jpg);
            position: absolute;
            bottom: 0px;
            right: 228px;

            @include mx.media-min(900px) {
                height: 234px;
                width: 260px;
                position: absolute;
                bottom: -185px;
                right: 347px;

                &:hover {
                    transform: scale(1.5);
                    z-index: 1000;
                }
            }
        }

        &--3 {
            height: 288px;
            width: 320px;
            background-image: url(/images/IMG_20230517_170002.jpg);
            position: absolute;
            right: -56px;
            bottom: 50px;

            @include mx.media-min(900px) {
                height: 406px;
                width: 450px;
                position: absolute;
                right: -50px;
                bottom: -130px;

                &:hover {
                    transform: scale(1.2);
                    z-index: 1000;
                }
            }
        }
    }

    @include mx.media-min(750px) {
        flex-direction: row;
        height: 100vw;
    }
}



// SECTION - ACTIONS

.section-actions {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);

    &__title {
        text-align: center;
        color: v.$color-grey-900;
    }
}


// SECTION - FOR

.section-for {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    color: v.$color-grey-900;

    &__title {
        text-align: center;
        color: v.$color-grey-900;
    }
}


// SECTION - INSTITUTIONS

.section-institutions {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    display: flex;
    flex-direction: column;


    &__title {
        color: v.$color-white;
    }

    &__fig {
        max-width: 450px;
        max-height: 632px;
        margin: 0 auto;
        margin-bottom: -11.875rem;
        flex: 1;

        @include mx.media-min(1000px) {
            margin-bottom: 0;
            margin-top: 11rem;
        }
    }

    &__img {

        @include mx.media-min(1000px) {
            width: 410px;
        }
    }

    @include mx.media-min(1000px) {
        flex-direction: row;
        gap: v.$spacer-large;
        margin-bottom: -11rem;
    }
}


// SECTION - GIFT

.section-gift {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    padding-top: 11.875rem;
    color: v.$color-grey-900;

    @include mx.media-min(1000px) {
        padding-top: 2rem;
    }

    &__title {
        color: v.$color-grey-900;
    }

    &__content {
        //max-width: 50vw;

        @include mx.media-min(1000px) {
            max-width: 40vw;
        }

        @include mx.media-min(1300px) {
            max-width: 30vw;
        }

        @include mx.media-min(1500px) {
            max-width: 25vw;
        }
    }

    &__qr {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @include mx.media-min(900px) {
            flex-direction: row;
            gap: v.$spacer-large;
        }
    }

    &__qr-col-1-of-2 {
        flex: 1;
        text-align: center;
    }

    &__qr-col-2-of-2 {
        flex: 1;
    }

    &__qr-title {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: clamp(2rem, 8vw, 8rem);
    }

    &__num-account {
        font-weight: 400;
        font-size: 2rem;
    }

    &__fig {
        margin-bottom: 2rem;

        @include mx.media-min(900px) {
            margin-bottom: 0;
        }
    }

    &__img {

    }
}