@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


// HERO

.section-hero {
    color: v.$color-grey-700;
    padding-top: 6rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    max-width: 1200px;
    align-items: center;

    @include mx.media-min(750px) {
        grid-template-columns: 40% 60%;
        padding-top: 10rem;
        padding-bottom: 4rem;
    }


    &__content {
        padding: v.$spacer-double;
        padding-top: 0;

        @include mx.media-min(1000px) {
            padding-top: 2rem;
        }
    }

    &__hexa {
        text-align: center;
    }

    &__images {
        position: relative;

    }

    &__img-wrapp {
        background-size: cover;
        -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        background-repeat: no-repeat;

        &--1 {
            background-image: url(/images/placeholder-hero-1.jpg);
            margin: 2% -6% 9% 36%;
            width: 70%;
            padding-top:60%;
        }

        &--2 {
            background-image: url(/images/placeholder-hero-2.jpg);
            position: absolute;
            left: 8%;
            top: -4%;
            width: 34%;
            padding-top:30%;
        }

        &--3 {
            background-image: url(/images/placeholder-hero-3.jpg);
            position: absolute;
            left: 0;
            bottom: -15%;
            width: 44%;
            padding-top:37%;
        }
    }

}



// SECTION - ACTIONS

.section-actions {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);

    &__title {
        text-align: center;
        color: v.$color-grey-900;
    }
}


// SECTION - FOR

.section-for {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    color: v.$color-grey-900;

    &__title {
        text-align: center;
        color: v.$color-grey-900;
    }
}


// SECTION - INSTITUTIONS

.section-institutions {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    display: flex;
    flex-direction: column;


    &__title {
        color: v.$color-white;
    }

    &__fig {
        max-width: 450px;
        max-height: 632px;
        margin: 0 auto;
        margin-bottom: -11.875rem;
        flex: 1;

        @include mx.media-min(1000px) {
            margin-bottom: 0;
            margin-top: 11rem;
        }
    }

    &__img {

        @include mx.media-min(1000px) {
            width: 410px;
        }
    }

    @include mx.media-min(1000px) {
        flex-direction: row;
        gap: v.$spacer-large;
        margin-bottom: -11rem;
    }
}


// SECTION - GIFT

.section-gift {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    padding-top: 11.875rem;
    color: v.$color-grey-900;

    @include mx.media-min(1000px) {
        padding-top: 2rem;
    }

    &__title {
        color: v.$color-grey-900;
    }

    &__content {
        //max-width: 50vw;

        @include mx.media-min(1000px) {
            max-width: 40vw;
        }

        @include mx.media-min(1300px) {
            max-width: 30vw;
        }

        @include mx.media-min(1500px) {
            max-width: 25vw;
        }
    }

    &__qr {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @include mx.media-min(900px) {
            flex-direction: row;
            gap: v.$spacer-large;
        }
    }

    &__qr-col-1-of-2 {
        flex: 1;
        text-align: center;
    }

    &__qr-col-2-of-2 {
        flex: 1;
    }

    &__qr-title {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: clamp(2rem, 8vw, 8rem);
    }

    &__num-account {
        font-weight: 400;
        font-size: 2rem;
    }

    &__fig {
        margin-bottom: 2rem;

        @include mx.media-min(900px) {
            margin-bottom: 0;
        }
    }

}