@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.section-o-nas {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    padding-top: 6rem;
    
    &__flex {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: v.$spacer-large;

        @include mx.media-min(750px) {
            flex-direction: row;
        }
    }

    &__fig {
        max-width: 90vw;

        @include mx.media-min(750px) {
            margin-bottom: -21rem;
        }
    }

    &__img {
        border: 20px solid v.$color-white;
        width: 100%;
    }

    &__content {
        color: v.$color-grey-900;
    }
}

.section-o-nas-2 {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);
    color: v.$color-grey-900;

    &__flex {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: v.$spacer-large;

        @include mx.media-min(750px) {
            flex-direction: row;
        }
    }

    &__empty {
        flex: 1;
    }

    &__first-content {
        flex: 1;
    }

    &__second-content {

    }

    &__third-content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @include mx.media-min(750px) {
            flex-direction: row;
            gap: v.$spacer-large;
        }
    }

    &__fig {

        @include mx.media-min(750px) {
            margin-bottom: -20rem;
            max-width: 90vw;
        }
    }

    &__img {
        border: 20px solid v.$color-white;
        max-width: 100%;
    }
}

.section-medallions {
    padding: clamp(v.$spacer, 8vw, v.$spacer-double);

    &__title {
        color: v.$color-grey-900;
    }
}