    <!-- Footer -->

    <footer class="footer u-background--color-primary-600">
        <div>
            <div class="footer__conteiner u-padding-top-medium u-padding-bottom-small">
                <figcaption class="footer__fig"><img src="/icons/logo.svg" width="200px" alt="logo KoniPAS"></figcaption>
                <div class="footer__menu-item"><a class="footer__link" href="/o-nas/">O nás</a>
                    <ul class="footer__submenu">
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Co se povedlo</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Napsali o nás</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Řekli o nás</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Fotogalerie</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="/o-nas/stanovy/">Stanovy</a></li>
                        <!-- <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Výroční zprávy</a></li> -->
                    </ul>
                </div>
                <div class="footer__menu-item"><a class="footer__link" href="#">Co děláme</a>
                    <ul class="footer__submenu">
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="/co-delame/pomahame-rodinam/">Pomáháme rodinám</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Vzděláváme rodiče</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="/vize/">Sdílíme vizi</a></li>
                        <!-- <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Tvoříme komunitu</a></li> -->
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Podporujeme děti</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="/co-delame/sluzby-a-terapie/">Služby &amp; terapie</a></li>
                        <!-- <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Půjčujeme pomůcky</a></li> -->
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="/co-delame/odborne-staze/">Odborné stáže</a></li>
                    </ul>
                </div>
                <div class="footer__menu-item"><a class="footer__link" href="/komunitni-deni/">Komunitní dění</a>
                    <ul class="footer__submenu">
                        <!-- <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Aktuality a pozvánky</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Setkání podpůrné skupiny</a></li> -->
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Registrace na přednášky</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Foto z akcí</a></li>
                    </ul>
                </div>
                <div class="footer__menu-item">
                    <ul class="footer__submenu footer__submenu--last">
                        <li class="footer__menu-item"><a class="footer__link" href="#">Podpora</a></li>
                        <li class="footer__menu-item"><a class="footer__link" href="/vize/">Vize</a></li>
                        <!-- <li class="footer__menu-item"><a class="footer__link" href="#">PAS</a></li> -->
                        <li class="footer__menu-item"><a class="footer__link" href="/partneri/">Partneři</a></li>
                        <li class="footer__menu-item"><a class="footer__link" href="#">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="u-background u-background--color-primary-700">
        <section class="section-copy u-wrapper u-padding-top-small u-padding-bottom-small">
            <div>
                <p class="section-copy__p u-wrapper">&copy; 2023 KoniPAS</p>
            </div>
        </section>
    </div>