@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;



.navigation {
    display: none;
    font-family: v.$font-special;

    @include mx.media-min(1140px) {
        display: block;
    }

    &__list {
        text-decoration: none;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0 10px;
        padding: 5px;
        position: relative;

        &:hover,
        &:active {
            font-weight: 600;
        }

        &::before {
        content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: v.$color-grey-700;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }

        &.active::before { /* Styl pro aktivní stav */
            transform: scaleX(1);
          }

        &:hover::before {
            transform: scaleX(1);
        }
    }

    &__link {
        color: v.$color-grey-900;
        font-family: v.$font-special;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 5px;
    }

    &__submenu {
        list-style: none;
        position: absolute;
        background-color: v.$color-primary-400;
        top: 100%;
        left: 0;
        padding: v.$spacer 0;
        margin: 0;
        margin-left: -5rem;
        width: 18rem;
        display: none;

        &--visible {
            display: block;
        }
    }

    &__submenu-item {
        padding: 10px 20px;

    }

    &__submenu-link {
        color: v.$color-grey-900;
        font-size: 1.2rem;
        padding: 10px 5px 10px 5px;
        font-weight: 500;

        &:hover {
            border-bottom: 1px solid v.$color-grey-900;
            font-weight: 600;
        }
    }
}


