@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.card-action {
    background-color: v.$color-primary-100;
    color: v.$color-grey-900;
    padding: 20px;

    &:hover {
        transform: scale(1.1);
    }

    &__link-grid {
        @include mx.grid-center;
    }

    &__img {
        place-content: center;
        display: block;
        width: 100%;
    }

    &__p {
        text-align: center;
        margin-bottom: 0;
    }

    &__link {
        font-family: v.$font-special;
        font-size: 1.5rem;
        color: v.$color-grey-900;
        text-align: center;
        margin: 0 auto;

        &:hover {
            border-bottom: 1px solid v.$color-grey-900;
        }
    }
}