@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.u-center-text {
    text-align: center !important;
    margin: 0 auto;
}

.u-margin-top-0 {margin-top: 0;}
.u-margin-top-small {margin-top: 2rem !important;}
.u-margin-top-medium {margin-top: 4rem !important;}
.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium {margin-bottom: 4rem !important;}
.u-margin-bottom-big {margin-bottom: 8rem !important;}

.u-margin-left-medium {margin-left: 3.2rem !important;}

.u-padding-top-small {padding-top: 2rem !important;}
.u-padding-top-medium {padding-top: 4rem !important;}
.u-padding-left-small {padding-left: 1.3rem !important;}
.u-padding-left-medium {padding-left: 3.2rem !important;}
.u-padding-bottom-small {padding-bottom: 2rem !important;}
.u-padding-bottom-medium {padding-bottom: 4rem !important;}
.u-padding-bottom-large {padding-bottom: 8rem !important;}


.u-wrapper {
    max-width: 1080px;
    margin: 0 auto;

    &--small {
        max-width: 700px;
    }
}

.u-background {
    background-color: v.$color-primary-200;

    &--color-primary-400 {
        background-color: v.$color-primary-400;
    }

    &--color-primary-500 {
        background-color: v.$color-primary-500;
    }

    &--color-primary-600 {
        background-color: v.$color-primary-600;
    }

    &--color-primary-700 {
        background-color: v.$color-primary-700;
    }
}

.u-responzive-img {
    
    &__wrapp {
        background-color: v.$color-white;
        padding: v.$spacer;
        flex: 1;
        display: grid;
        place-content: center;
        object-fit: cover;
    }

    &__img {
        width: 100%;
    }
}